body {
    background-color: #393939;
    /*background-color: #E1E8ED;*/
    height: 100vh;
    margin: 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 15fr 83fr 1fr;
    grid-template-rows: 1fr 16fr 62fr 10fr 10fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;     
}

body > div {
    /*background: #77a8a8;*/
    background-color: #CCD6DD;
    border-radius: 10px;
}

/* grid item of body */
#hdr {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#hdr > div {
    display:flex;
    align-items: center;
    justify-content: center; 
}

/* grid item of body */
#nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;   
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

#nav > div {
    display:flex;
    align-items: center;
    justify-content: center; 
}

/* grid item of body */
#main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;  
    /*background-color: #b9b0b0; */
    background-color: #55ACEE;
}

/* grid item of body */
#misc {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;   
    background-color: #66757F;
}

/* grid item of body */
#ftr {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;   
}

.btn {
  width: 50%;
  height: 50%;
  padding: 0.5em 2em;
  /*background: #d9ecd0;*/
  /*background: #1E90FF;*/
  /*background: #4169E1;*/
  background: #66757F;
  color: white;
  border: 3px solid #55ACEE;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  text-shadow: -1px 0 0 rgba(0,0,0,0.3), 
               0 -1px 0 rgba(0,0,0,0.3),
			   0 1px 0 rgba(255,255,255,0.5),
               -1px -1px 0 #b9b0b0;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.btn:hover {
  position: relative;
  top: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-shadow: -1px 0 0 rgba(0,0,0,0.3),
               0 1px 0 rgba(0,0,0,0.3),
			   0 0 0 rgba(255,255,255,0.5),
               -1px 1px 0 rgba(250,151,3,0.5);
    width: 60%;
    height: 60%;
}

