h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.breadcrumb {
    background:#f5f5f5; 
    padding-top: 15px; 
    padding-bottom: 15px;
}

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color:#27a845;
}
.tab-content{
  background: #f5f5f5;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #27a845;
    border-bottom:5px solid #27a845;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #27a845;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

/* styled list */

ul.list {
	list-style-type: none;
	list-style-position: outside;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

ul.list li {
	position: relative;
	display: block;
	line-height:1.5em;
	margin:0;
	padding:0;
	padding-left: 20px;
}

ul.list.strong li {
	font-weight:600;
}

ul.list.bigger li {
	font-size:18px;
	padding-left: 30px;
}

ul.list.bigger li:before {
	font-size:18px;
}


ul.list li:before {
	font-family: "FontAwesome";
	font-size: 13px;
	position: absolute;
	left: 0;
	top: 1px;
}

ul.list-ok li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f00c";
    color:#27a845;
}

#med:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f00c";
    color:#27a845;    
}

/* accordion */
#headingOne:hover {
   background: #27a845; 
   cursor: pointer;
}
#headingTwo:hover {
   background: #27a845; 
   cursor: pointer;
}
#headingThree:hover {
   background: #27a845; 
   cursor: pointer;
}
#headingFour:hover {
   background: #27a845; 
   cursor: pointer;
}
#headingFive:hover {
   background: #27a845; 
   cursor: pointer;
}

.icon-caret-right:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}
 






