body { 
  display: grid;
  grid-template-areas: 
    "header header"
    "nav article"
    "nav ads"
    "footer footer";
  grid-template-rows: 80px 1fr 70px 70px;  
  grid-template-columns: 15% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }  
header, footer, nav, div {
  padding: 1.2em;
  background: #ccc;
  }

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-area: content;
    grid-template-rows: 50px 50px;
}

article {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: ". content .";
    grid-gap: 10px;
    background: #e20808;

}
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  display: grid;
  grid-gap: 20px;
  }
#siteAds { 
  grid-area: ads; 
  } 

.box {
  background-color: #661;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}



/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}